node_modules
dist
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

log/
.dbg/
.swc/

project.private.config.json

music_ge
*.local

.agents/
.codegraph/
.cursor/
.trae/
skills-lock.json
